html{
    font-size: 15px;
}

.bienvenidos{
    background:url("./images/responsive.png");
    background-color: rgba(255, 255, 255, 0.98);
    font-size: 1rem;
    background-size: cover;

    height: 100vh;
    overflow: hidden;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover{
    color: rgba(255, 255, 255, 0.98);
}

.fixed-top{

background: rgba(0, 0, 0, 0.68);

}

.texto-bienvenidos {
    color: rgba(255, 255, 255, 0.98);
    margin-top: 20rem;
}

@media (min-width:768px){
    #menuprincipal{
        clear: inherit;
    }

    .bienvenidos{
        background:url("./images/Grupo\ 1.png");
        background-size: cover;
        
    }
}